@media screen and (min-width: 700px){
    .navbar{
        display: flex;
    }
    .welcome-page{
        & h1{
            margin-left: 1em;
            font-size: 5vw;

        }
    }
    .header{
        justify-content: center;
        & nav{
            display: none;
        }
    }
   .bio{
        padding: 4rem 4rem 0rem 4rem;
        display: grid;
        grid-template-columns: 50% 35% 15%;
        grid-gap: 2rem;
   }
   .bio-bg{
       overflow: hidden;
   }
   .navbar-bio{
       display: flex;
   }
   .bio-social-media{
       flex-direction: column;
       margin-top: 9rem; 
       & .social-lines{
        width: .3rem;
        height: 2.5rem;
        background-color: white;
    }
   }
   .contact-bg{
       overflow: hidden;
   }
   .contact-via-email{
        display: grid;
        grid-template-columns: 60% 40%;
   }
   #canvas{

       height: 100%;
   }
   #message, #email, #send{
      max-width: 60%;
   }
  .dialogue{
     width: 20%;
     height: 3%;
    left: 40%;

   }
}

