@media screen and (max-width: 700px){
    $dark-primary-color: #FBC02D;
    $border-color: #fff9c40c;
    $nav-col: #181717ef;


    .navbar{
       display: none;
    }
    .welcome-page{
        & h1{
            margin-left: 0em;
            font-size: 3rem;

        }
    }
    .header{
        
        & .phone-nv{
            position: absolute;
            top: 0;
            bottom: 0;
            min-height: 100vh;
            min-width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            background-color: $nav-col;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            z-index: 99999;
            margin: 0;
            & > *{
                animation: bouncing 2000ms linear both;
                animation-iteration-count: 1;
                font-size: 2rem;
            }
            & li{
                list-style: none;   

            }
        }
        .phone-nv #menu-icons{
               color: $dark-primary-color;
               transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
           
        }
        .phone-nv #menu-icons:hover{
               color: white;
        }
        
        justify-content: space-around;
    }
  
    .burger{
        width: 8vw;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999999;
        cursor: pointer;
        & .line{
            width: 2.5rem;
            height: .5vh;
            background-color: white;
            transition: all 400ms cubic-bezier(1, 0, 0, 1);
        }
       
        & > * + *{
            margin-top: .5rem;
        } 
        & > *{
            position: relative;
        }
      
    }
    .burger:hover{
        & > *{
            background-color: $dark-primary-color;
        }
    }
    .bio{
        display: grid;
        grid-template-rows: 35% 45% 20%;
        justify-content: center;
        padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        grid-gap: 2rem;
        min-height: 100vh;
        background-size: cover;
        background-attachment: scroll;
        place-items: center;
    }
    .bio-bg{
        max-height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .navbar-bio{
        display: none;
    }
    .bio-social-media{
        display: flex;
        justify-content: center;
        flex-direction: row;
        & .social-lines{
        width: 5vh;
        height:1vh;
        background-color: white;
        }
        & #social-icons{
            font-size: 1.7em;
        }
    }
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 700px){

    .bio{
        padding: none;
        padding-top: 6rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #canvas{
        min-height: 130vh;
    }
   
    #message, #email, #send{
       max-width: 100%;
   }
   .contact-via-email{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
   }
   .dialogue{
     width: 40%;
     height: 3%;
     left: 20%;

   }
}