.wrapper {
  width: 40vh; /* Set the size of the progress bar */
  height: 40vh;

   /* Enable clipping */
//   clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 43vh;
  height: 43vh;
 
  background: linear-gradient(90deg, rgb(39, 183, 219), rgb(211, 231, 27));
  border-radius: 50%;
  position: absolute;
//   clip: rect(0px, 50px, 100px, 0px);
  clip: rect(49px, 93px, 288px, 0p);
  z-index: -50;
}
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}
.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 3s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}
.circle[data-anim~=left] {
  -webkit-animation-duration: 2s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 1s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}