//colors
$dark-primary-color: #FBC02D;
$light-primary-color: #FFF9C4;
$border-color: #fff9c40c;

$primary-color: #FFEB3B;
$social-media-icons: #ffeb3b94;

$text-icons: #212121;
$bg-color: #2a2a2a;
$nav-col: #181717;

$accent-color: #00bbd471;
$accent-color-fullOpacity: #00bbd4;


//fonts
$Montserrat: 'Montserrat', sans-serif;
$Merriweather: 'Merriweather', serif;
$Sacramento: 'Sacramento', cursive;